@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800;900&display=swap');
body {
  background: #fafafa;
  font-family: 'Merriweather Sans', sans-serif;
  
}

.btn-primary {
  color: #fff;
  background-color: #3a6dab;
  border-color: #3a6dab;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5693ce;
  border-color: #5693ce;
}
.btn-outline-primary {
  color: #3a6dab;
  border-color: #3a6dab;
}
.btn-outline-primary:hover {
  color: #3a6dab;
  border-color: #3a6dab;
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

#nav-icon1, #nav-icon2, button #nav-icon3, #nav-icon4 {
  width: 35px;
  height: 30px;
  position: relative;
  margin: 12px auto 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

button #nav-icon3:hover > span {
  background: #b61e85;
}

button #nav-icon3 span:nth-child(1) {
  top: 0px;
}

button #nav-icon3 span:nth-child(2),button #nav-icon3 span:nth-child(3) {
  top: 12px;
}

button #nav-icon3 span:nth-child(4) {
  top: 24px;
}

button:not(.collapsed) #nav-icon3 span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

button:not(.collapsed) #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

button:not(.collapsed) #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button:not(.collapsed) #nav-icon3 span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
body .navbar {
  padding: 0 1em 0 0.8em;
  border-bottom: 1px solid#d4eaf9;
  background-color: #f1f2f3!important;

}

.navbar-light .navbar-brand {
  padding: 1em 1.4em 1em 1.15em;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(182, 30, 133);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.6em 1em 0.7em 1em;
  color: #12776d;
  /* text-transform: uppercase; */
  font-size: 1.5em;
  line-height: 1.2;
  border-radius: 6px;
}

div.show .btn {
  margin: 1.2em 0 2.4em;
}



.mr-auto a.active {
  color: #7aa3cc;
  background: rgba(0,0,0,0.05);
  font-weight: 700;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: #7aa3cc;
}

.login-btn {
  margin-left: 1em;
}

.main-hero {
  padding: 2em;
  margin-top: 0;
}

.main-h1 {
  margin: 0.1em 0 0 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  color: #3a6dab;
  font-size: 2.5em;
}

.content-h1 {
  margin: 1em 0 1em 0;
  font-size: 2.5em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #3a6dab;
  line-height: 1;
}
.quiz-h1 {
  margin: 0 0 1.2em 0;
  font-size: 2.5em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #3a6dab;
  line-height: 1;
}

h4 {
  color: #8b9dbc;
}


/******* Questions *******/

dl, ol, ul {
  padding-left: 0;
}

.cancelSurveyBtn {
  float: right;
}
.hidden { 
  display:none;
}

.question-container {
  border: 0 solid #e6e6e6;
  padding: 2em 2em 2em 2em;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 24px -3px rgba(32, 62, 121, 0.2), 0 4px 6px -2px rgba(32, 62, 121, 0.01);
  background: #fff;
  max-width: 55em;
}

.question-card {
  padding: 0;

}
.question-heading {
  font-weight: 500;
  text-align: left;
  font-size: 1.9em;
  color: #5693ce;
  margin: -0.3em 1em 1em 0;
}

.options-container {
  min-height: 7em;
  padding-left: 25%;
  margin-bottom: 2.7em;
}

.options-container-input {
  min-height: 7em;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2.7em;
}

.options-container li {
  list-style: none;
  margin-bottom: 1em;
}

.option-label {
  font-size: 1.5em;
  line-height: 1.2;
  color: #838383;
}
.option-label:hover {
  color: #7AA3CC;
}

.checkbox-input:checked + .label-text:before, .radio-input:checked + .label-text:before {
  color: #7AA3CC;
}
.checkbox-input:checked + .label-text, .radio-input:checked + .label-text {
  color: #7AA3CC;
}

.icon {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  color: #7AA3CC;
  text-align: center;
}

.answerInput {
  outline: none;
  border: none;
  border-bottom: 2px solid #DDDDDD;
  padding: 0.5em;
  font-size: 1.5em;
  width: 100%;
  max-width: 11em;
  box-sizing: border-box;

}

.answerInput:focus {
  border-bottom: 2px solid #7AA3CC;
}

.answerInput[placeholder]:focus::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
}



.btnSubmitQuestion {
  margin-top: 1em;
  padding: 0.5em 3em 0.7em;
  display: flex;
  margin-left: auto;
  border: 0.16em solid #DDDDDD;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: normal;
  font-weight:600;
  color: #7AA3CC;
  text-align: center;
  transition: all 0.15s;
  background: #fff;
  line-height: 1.4;
}

.btnSubmitQuestion:hover{
  color:#6e95bb;
  border-color:#cccccc;
}

.btnSubmitQuestion:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  outline: none;
  margin-right: -3px;
}



/******* Result *******/

.BodyContainer h3 {
  font-weight: 300;
}

.result-div {
  padding: 0;
  max-width: 55em;
  margin-top: 2em;
}

.result-div h6 {
  padding: 1em 1.2em;
  margin: 0;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}

.result-div-charts h6 {
  padding: 1em 1.2em;
  margin: 0;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}

.single-answer-ul {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  padding: 0;
  max-width: 30em;
}
.single-answer-ul-charts {
  background-color: #fff;
  padding: 0;
  max-width: 30em;
}

.single-answer-ul li {
  background: #fdfdfd;
  list-style: none;
  padding: 1em 3em;
  margin: 0.2em 0;
  font-size: 1.2em;
  position: relative;
}

.single-answer-charts-ul li {
  background: #fdfdfd;
  list-style: none;
  margin: 0.2em 0;
  font-size: 1.2em;
  position: relative;
  border-radius: 6px;
  max-width: 29em;
}

.single-answer-charts-ul li.reg {
  padding: 0.9em 3em 1em;
}

.single-answer-charts-ul li.aSet {
  border: 0.2em solid #ed3895;
  padding: 0.7em 2.8em 0.8em;
}
.single-answer-list-ul li {
  background: #f1f1f1;
  list-style: none;
  margin: 0.2em;
  font-size: 1.2em;
  display: inline-block;
  border-radius: 6px;
}

.single-answer-list-ul li.reg {
  padding: 0.35em 2em 0.5em;
  
}

.single-answer-list-ul li.aSet {
  border: 0.2em solid #ed3895;
  padding: 0.15em 1.8em 0.3em;
}

.single-answer-ul li:nth-child(2) {
  background: #fdfdfd;
}

.results-option-persentage {
  background: #7aa3cc;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.results-option-label {
  z-index: 100;
  font-size: 1.1em;
}

.results-option-details {
  font-style: italic;
  color: gray;
  padding-left: 0.3em;
}



/******* Add Question *******/

.select-survey {
  max-width: 40em;
  margin: 2em 0 2em;
}


.add-radio-form {
  padding: 1em 2em;
}

/******* ProgressBar *******/


.progress-bar {
  position: relative;
  height: 0.4em;
  background-color: #d4eaf9;
  border: 0px solid rgb(243, 243, 243);
  border-top-left-radius: 10px;
  margin: -2em -2em 0 -2em;
}

.filler {
  background: #ed3895;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.question-count {
  text-align: right;
  color: #d4eaf9;
  font-size: 2em;
  font-variant: diagonal-fractions;
  margin: 0.5em 0 0 0;
}

/******* AddSurvey *******/

.survey-td {
  margin-bottom: 0.4em;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-right-color: white;
  border-top-color: white;
  border-left-color: white;
  width: 100%;
}

.surveyName {
  display: flex;
}
.surveyListControls {
  margin-left: auto;
  display: flex;
}

.AddSurveyInput {
  width: 40em;
  height: 2.6em;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 7.5px;
  font-family: sans-serif;
}
.survey-tr {
  border-color: white;
}

@media (min-width: 992px) {

  .navbar {
    padding: 0 2em 0 2em;
  }

  .navbar-light .navbar-brand {
    padding: 0 2em 0 2em;
    font-size: 1.5em;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.2em 1.4em 1.3em 1.4em;
      color: #203e79;
      font-weight: 400;
      font-size: 1em;
      border-radius: 0;
  }

  dl, ol, ul {
      padding-left: 3em;
  }

  .main-hero {
    padding: 4em;
    margin-top: 6vh;
  }
  
  .main-h1 {
    margin: 0.6em 0 0.2em 0;
    font-size: 3.6em;
}
  
  .content-h1 {
    margin: 1.8em 0 1.2em 0;
    font-size: 2.5em;
  }

  .quiz-h1 {
    margin: 0 0 1.2em 0;
    font-size: 2.5em;
  }

  .question-container {
    padding: 2em 3em 2em 3em;
  }

  .question-count {
    font-size: 2.5em;
  }

  .progress-bar {
    margin: -2em -3em 0 -3em;
  }

  .options-container-input {
    min-height: 7em;
    padding-left: 28%;
    padding-right: 0;
    margin-bottom: 2.7em;
  }


}